.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: blue; */
}
.nav-center{
    width: 90vw;
    max-width: var(--max-width);
    /* background: red; */
}
.nav-header{
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    /* background: red; */
    display: flex;
    align-items: center;
}
.nav-header img{
    width: 100px;
    height: 80px;
}
.nav-btn{
    padding: 0.15rem 0.75rem;
}
.nav-btn i{
    font-size: 1.25rem;
}
.nav-links{
    display: flex;
    flex-direction: column;
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.show-links{
    height: 310px;
}
.nav-link{
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: var(--grey-900);
    letter-spacing: var(--letterSpacing);
    padding: 1rem 0;
    border-top: 1px solid var(--grey-500);
    text-decoration: none;
}
.nav-link:hover{
    color: var(--primary-500);
}
.contact-link a{
    padding: 0.15rem 1rem;
    text-decoration: none;
    color: white;
}


@media screen and (min-width:992px){
    .nav-btn{
        display: none;
    }
    .navbar{
        height: 6rem;
    }
    .nav-center{
        display: flex;
        align-items: center;

    }
    .nav-header{
        height: auto;
        margin-right: 2rem;
    }
    .nav-links{
        height: auto;
        flex-direction: row;
        align-items: center;
        width: 100%;
        /* background: red; */
    }
    .nav-link{
        padding: 0;
        border-top: none;
        margin-right: 1rem;
        font-size: 1rem;
    }
    .contact-link{
        margin-left: auto;
        margin-right: 0;
        background: blue;
        border-radius: 10px;
        font-size: 2rem;
    }
}

/*
==========
page
=========
*/
.page{
    /* background: red; */
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
    padding-top: 2rem;
    min-height: calc(100vh -(6rem + 4rem));

}

/*
==========
footer
=========
*/
.page-footer{
    height: 4rem;
    text-align: center;
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}
.page-footer p{
    margin-bottom: 0;
}
.footer-logo,
.page-footer a{
 color: blue;
}

/*
==========
Hero
=========
*/
 .hero{
    height: 40vh;
    /* width: 210vh; */
    /* background: url('img/main.jpeg.webp') center/cover no-repeat; */
    margin-bottom: 2rem;
    border-radius: var(--borderRadius);
    position: relative;
}
.hero img{
    background: center/cover no-repeat;
    height: 100%;
    width: 100%;
}
.hero-contanier{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0 , 0 ,0 , 0.4);
    border-radius: var(--borderRadius);
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero-text{
    text-align: center;
    color: white;
    /* font-size: 20px; */
}
@media screen and (min-width:768px) {
    .hero-text h1{
        font-size: 4rem;
        margin-bottom: 0;
    }
}

/*
==========
Recipes
=========
*/
.recipes-container{
    display: grid;
    gap: 2rem 1rem;
    /* border: 2px solid red; */
}
.tags-container{
    /* border: 2px solid blue; */
    order: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;

} 
.recipes-list{
    display: grid;
    gap: 2rem 1 rem;
    padding-bottom: 3rem;
}
.tags-container h4{
    margin-bottom: .5rem;
    font-weight: 500;
}
.tags-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.tags-list a {
    text-transform: capitalize;
    display: block;
    color: grey;
    transition: var(--transition);
    text-decoration: none;
}
.tags-list a :hover{
    color: blue;
}
.recipe{
    display: block;
    margin-bottom: 2rem;
}
.recipe-img{
    height: 15rem;
    border-radius: var(--borderRadius);
    margin-bottom: 1rem;
}
.recipe h5{
    margin-bottom: 0;
    line-height: 1;
    color: gray;
}
.recipe p {
    margin-bottom: 0;
    line-height: 1;
    margin-top: 0.5rem;
    color: blue;
    letter-spacing: var(--letterSpacing);
}
@media screen and (min-width:576px) {
    .recipes-list{
        grid-template-columns: 1fr 1fr;
    }
    .recipe-img{
        height: 10rem;
    }
}
@media screen and (min-width:992px) {
    .recipes-container{
        grid-template-columns: 200px 1fr;
    }
    .recipe p{
        font-size: 0.85rem;
    }
    .tags-container{
        order: 0;
    }
    .tags-list{
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width:1200px) {
    .recipe h5{
        font-size: 1.15rem;
    }
    .recipes-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


/*
==========
Error
=========
*/
.error-page{
    text-align: center;
    padding-top: 5rem;
}
.error-page h1{
    font-size: 9rem;
}

/*
==========
About
=========
*/
.about-page h2{
    text-transform: none;
    font-weight: bold;

}
.about-page{
    display: grid;
    gap: 2rem 4rem;
    padding-bottom: 3rem;
}
.about-img{
    border-radius: var(--borderRadius);
    height: 300px;

}

@media screen and (min-width:992px) {
    .about-page{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 400px;
        align-items: center;
    }
    .about-img{
        /* height: 100%; */
    }
}



.featured-title{
    text-align: center;
}

/*
==========
Contact
=========
*/
.contact-form{
    width: 100%;
    margin: 0;
    /* background: rgb(173, 172, 172); */
    border: double;

}
.contact-container{
    display: grid;
    gap: 2rem 3rem;
    padding-bottom: 3rem;
}
@media screen and (min-width:992px) {
    .contact-container{
        grid-template-columns: 1fr 450px;
        align-items: center;
    }
}

/*
==========
Tags
=========
*/
.tags-wrapper{
    display: grid;
    gap: 2rem;
    padding-bottom: 3rem;

}
.tag{
    background: gray;
    border-radius: var(--borderRadius);
    text-align: center;
    color: white;
    transition: var(--transition);
    padding: 0.75rem;
}
.tag:hover{
    background: blue;
}
.tag h5, .tag p{
    margin-bottom: 0;
}
.tag h5{
    font-weight: 600;
}
@media screen and (min-width:576px) {
    .tags-wrapper{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width:992px) {
    .tags-wrapper{
        grid-template-columns: repeat(3, 1fr);
    }
}
.btn-block:hover{
    color: blue;
}
.btn-block{
    background: gray;
    font-size: 1rem;
}